{
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.input_editPrice {
    width: 70px;
    text-align: center;
}

.static_price {
    margin-top: 15px !important;
}

.table-super_create {
    width: 30% !important;
    margin-left: auto;
    margin-right: auto;
}

#show_errors_checkbox:focus {
    background-color: #6c757d !important;
}

#error_name,
#error_email,
#error_password,
#error_password_confirmation {
    display: none;
    text-align: center;
    font-weight: 600;
    font-size: 80%;
    border-color: #FF7851;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' hei…circle cx='6' cy='8.2' r='.6' fill='%23FF7851' stroke='none'/%3e%3c/svg%3e);
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.pay_icon {
    margin-right: 20px !important;
}

.pay_icon:hover {
    width: 45px;
}

.refund:hover  {
    width: 70px;
}

.button_admin_index {
    width: 100px;
}

#lightgallery {
    text-align: center;
}

.datatable {

}

#payments_datatable_info {

}